<% if notice || alert %>
  $("#alerts").append('<%= j render "layouts/notice" %>')
<% end %>

<% if @answer.errors.present? %>
  <% @answer.errors.full_messages.each do |message| %>
    $(".answer-errors").append('<p><%= j message %></p>')
  <% end %>
<% else %>
  $(".answers-list").append('<%= j render @answer %>')
  $('#answer_body').val('')
<% end %>
